
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial;
    text-align: center;
    min-height: 100vh;
    min-width: 370px;
    background-image: linear-gradient(135deg,#00ccff,#9933ff 31%,#e646b6 52%,#fff9aa 77%,#00ff99,#00ccff);
    background-size: 200%;
  }
  
  header h1 {
    padding: 20px 10px;
    letter-spacing: 0.2em;
    color: white;
  }
  
  form * {
    background: rgba(256,256,256, 0.3);
    color: white;
  }
  
  form .search, form .btn {
    padding: 10px;
    border-radius: 2px;
    font-size: 16px;
    border: 1px solid white;
  }
  
  ::placeholder {
    color: #f5f5f5;
  }
  
  form .search {
    width: 40%;
    min-width: 200px;
    max-width: 600px; 
  }
  form .search:focus {
    outline: 0;
    color: #333;
    background: white;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.3);
  }
  
  form .btn {
    cursor: pointer;
    width: 60px;
  }
  form .btn:hover {
    color: #333;
    background: white;
  }
 
  
  .giphy {
    padding: 20px 0 15px 0;
  }
  
  .giphy img {
    width: 200px;
    max-width: 800px;
    margin: auto;
    display: block;
  }
  
  .giphy img.gif {
    width: 50%;
    max-width: 600px;
    box-shadow: 0 0 1px 1px rgba(256,256,256,0.3);
  }
  
  footer {
    padding: 5px;
    font-size: 14px;
    color: white;
  }
  
  footer a {
    color: #333;
    text-decoration: none;
  }
  footer a:hover {
    color: white;
    text-decoration: underline;
  }
  